[submodule "backend/lib/forge-std"]
	path = backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bakend_lz/lib/layerzero-devtools"]
	path = bakend_lz/lib/layerzero-devtools
	url = https://github.com/LayerZero-Labs/devtools.git
